.brand-logo, .sidenav li a {
  color: #616161 !important;
}

body {
  background-color: rgba(15, 82, 186, 0.75);
}

.nav-wrapper, .sidenav {
  background-color: #ffffff;
}

.sidenav {
  top: 52px;
  width: 130px;
}

.modal {
  width: 90%;
  height: 90%;
}

nav {
  height: 50px;
  line-height: 50px;
}

.select2-container {
  width: inherit !important;
}