.brand-logo, .sidenav li a {
  color: #616161 !important;
}

body {
  background-color: rgba(15, 82, 186, 0.75);
}

.nav-wrapper, .sidenav {
  background-color: #ffffff;
}

.sidenav {
  top: 52px;
  width: 130px;
}

.sidenav li a {
  padding: 5px;
}

.sidenav li a i[class="small material-icons"] {
  margin-left: 10px !important;
  margin-right: 11px !important;
}

.modal {
  width: 90%;
  height: 90%;
}

nav {
  height: 50px;
  line-height: 50px;
}

nav a.sidenav-trigger {
  color: #212121;
}

.select2-container {
  width: inherit !important;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
}