.row{
  width: 100%;
}

.translate{
  margin-left: 3.5%;
}

.btn-cell{
  width: 15%;
}

.cell-sem0{
  width: 15%;
}

.cell-sem2{
  width: 7%;
}

.cell-sem3{
  width: 7%;
}

.cell-pre0{
  width: 15%;
}

.cell-pre1{
  width: 15%;
}

.cell-pre3{
  width: 7%;
}

.cell-pre4{
  width: 7%;
}

.round{
  width: 94.5%;
  margin-left: 4%
}