.position-relative {
  transform: translate(45px, 0);
}

#general-box-container {
  background-color: #FFFFFF;
  border-radius: 4px;
}

#general-box {
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

#toast-container {
  top: 20%;
  right: 35%;
}

.select2 {
  width: 100% !important;
}

#prefix-pillbox {
  margin-top: 20px;
  height: 50px;
}

::placeholder {
  color: #757575;
}

input {
  text-indent: 10px;
}

#nav, .pagination li a {
  background-color: #ffffff;
}

.pagination {
  text-align: center;
}

.pagination li .active {
  background-color: #ff8a65;
}

.pagination a:hover:not(.active) {
  background-color: #cfd8dc;
}

#right-arrow, #left-arrow {
  color: #212121;
}

#nav li .pages {
  display: none;
}

#nav li .visible {
  display: inline-block;
}

.pagescount {
  display: inline;
}