.hidden {
  display: none;
}

.mainpage-row {
  background-color: #9fa8da;
}

::placeholder {
  color: black;
}

#toast-container {
  top: 20%;
  right: 35%;
}

.alert {
  background-color: #37474f;
}