.position-relative {
  transform: translate(45px, 0);
}

.mainpage-row {
  background-color: #9fa8da;
}

#general-box-container {
  background-color: #FFFFFF;
  border-radius: 4px;
}

#general-box {
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

#toast-container {
  top: 20%;
  right: 35%;
}

.alert {
  background-color: #37474f;
}

.select2 {
  width: 100% !important;
}

#prefix-pillbox {
  margin-top: 20px;
  height: 50px;
}

::placeholder {
  color: #757575;
}