#mod-list-header {
  padding-left: 25px;
}

.shift{
  margin-left: 2%;
}

.header-box{
  border-radius: 5px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0px;
  padding-left: 15px;
  margin-right: 20px;
}

#divider {
  width: inherit;
  transform: translate(-10px,0);
}

.modlist-row {
  background-color: #80cbc4;
}

.describe {
  font-size: 18px;
  color: #212121;
}

.table-container {
  padding: 30px;
}

.pu-header {
  color: #000000;
  font-size: 24px;
}

.filled-in {
  visibility: hidden;
}

.card-content {
  background-color: white;
  margin: 10px;
  padding: 10px;
  height: 125px;
  width: 525px;
}

.card {
  width: 545px;
}

.alert-modlist{
  background-color: #37474f;
}

td[class="modal-trigger NUS-Code-col"] {
  text-decoration: underline;
  color: rgba(15, 82, 186, 0.75);
  cursor: pointer;
}

.tree-entry {
  margin: 5px;
}

.tree-left {
  float: left;
  transform: translate(400px, 100px);
}

.tree-right {
  float: right;
  transform: translate(-400px, 100px);
}

.prereq-node {
  background-color: #fff59d;
  width: 90px;
}

.prereq-node:hover {
  background-color: #fdd835;
}

.postreq-node {
  background-color: #a5d6a7;
  width: 90px;
}

.postreq-node:hover {
  background-color: #43a047;
}

.modal-header {
  text-align: center;
  transform: translate(0, 50px);
}

.modal-header button a {
  font-size: 50px;
}

.modal-header .btn-flat {
  background-color: #ffccbc;
}

.modal-header .btn-flat:hover {
  background-color: #ffab91;
}

.unlocks-requires {
  font-weight: 450;
  color: #212121;
}

a {
  color: #212121;
}

.space{
  margin-left: 5em;
}

.button-pretext {
  font-size: 18px;
  color: #212121;
  display: inline-block;
}

#download-button {
  transform: translate(56px, 0);
}

#upload-button {
  transform: translate(14px, 0);
}

#upload-field {
  display: inline-block;
  visibility: hidden;
  height: 0;
  width: 0;
}