.sumcredit-row{
  background-color: #80cbc4;
}

.modlist-row {
  background-color: #80cbc4;
}

#describe {
  font-size: 18px;
}

.table-container {
  padding: 30px;
}

.pu-header {
  color: #000000;
  font-size: 23px;
}

.filled-in {
  visibility: hidden;
}

.card-content {
  background-color: white;
  margin: 10px;
  padding: 10px;
  height: 125px;
  width: 525px;
}

.card {
  width: 545px;
}

.alert-modlist{
  background-color: #37474f;
}
