#mod-list-header {
  padding-left: 25px;
}

.shift{
  margin-left: 2%;

}
.sumcredit-row{
  background-color: #80cbc4;
}

.modlist-row {
  background-color: #80cbc4;
}

#describe {
  font-size: 18px;
}

.table-container {
  padding: 30px;
}

.pu-header {
  color: #000000;
  font-size: 24px;
}

.filled-in {
  visibility: hidden;
}

.card-content {
  background-color: white;
  margin: 10px;
  padding: 10px;
  height: 125px;
  width: 525px;
}

.card {
  width: 545px;
}

.alert-modlist{
  background-color: #37474f;
}

.tree-entry {
  margin: 5px;
}

.tree-left {
  float: left;
  transform: translate(400px, 100px);
}

.tree-right {
  float: right;
  transform: translate(-400px, 100px);
}

.prereq-node {
  background-color: #fff59d;
}

.prereq-node:hover {
  background-color: #fdd835;
}

.postreq-node {
  background-color: #a5d6a7;
}

.postreq-node:hover {
  background-color: #43a047;
}

.modal-header {
  text-align: center;
  transform: translate(0, 50px);
}

.modal-header button a {
  font-size: 50px;
}

.modal-header .btn-flat {
  background-color: #eeeeee;
}

.modal-header .btn-flat:hover {
  background-color: #bdbdbd;
}

a {
  color: black;
}

.space{
  margin-left: 5em;
}
