
body {
  background-color: hsla(39, 100%, 50%, 0.8);
}

.hidden {
  display:none;
}


tbody {
    display:block;
    height:300px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:100%;
}

.side-nav {
  top: 64px;
    width: 130px;
}