tbody {
  display: block;
  height: 400px;
  overflow: auto;
  position: relative;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout:fixed;
}

th {
  color: white;
  text-align: center;
  vertical-align: top;
}

table {
  width: 100%;
}

td {
  text-align: center;
  overflow: auto;
}

#toast-container {
  top: 20%;
  right: 35%;
}

.alert {
  background-color: #37474f;
}

.Select-col {
  width: 7.5%;
}

.NUS-code-col {
  width: 10%;
}

.NUS-credits-col {
  width: 7.5%;
}

.PU-name-col {
  width: 25%;
}

.PU-code-col {
  width: 10%;
}

.PU-title-col {
  width: 30%;
}

.PU-credits-col {
  width: 10%;
}
