<head>
  <title> NUS Module Mappings</title>
</head>

<body>
	
  <header> 
    <h1> NUS Module Mappings </h1>
  </header>

  <p> 
    Enter nus module code, partner institution name, partner institution code,
    and/or partner institution's module title.
  </p>

  <form action="." method="GET">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search Mappings" />
  </form>
  
  <table>
    <tr>
      <th>NUS Code</th>
      <th>NUS Credits</th>
      <th>PU Name</th>
      <th>PU Code</th>
      <th>PU Title</th>
      <th>PU Credits</th>
    </tr>
    {% for item in mappings %}
    <tr> 
      <td>{{ item.nus_code }}</td>
      <td>{{ item.nus_credits }}</td>
      <td>{{ item.pu_name }}</td>
      <td>{{ item.pu_code }}</td>
      <td>{{ item.pu_title }}</td>
      <td>{{ item.pu_credits }}</td>
    </tr>
    {% endfor %}
  <table>

</body>