<!DOCTYPE html>
<html>
	<head>
		<!-- bootstrap !-->
		<!-- Materalise CSS !-->
		<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<!-- maintains base colour scheme for all pages !-->
		{% load static %}
  	<link rel="stylesheet" href="{% static 'mainpage/style.css' %}" type="text/css">
  		<!-- end of base colour scheme code !-->
	</head>

<!-- navigation bar !-->
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper blue-grey darken-3">
					<a href="/" class="brand-logo center">NUS Module Mappings</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/mod_list/">Selected Modules</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<ul class="sidenav" id="mobile-demo">
			<li><a href="/">Search Modules</a></li>
			<li><a href="/mod_list/">Selected Modules</a></li>
		</ul>

		<ul class="blue-grey lighten-3 side-nav fixed">
			<li><a href="#">Icon 1</a></li>
			<li><a href="#">Icon 2</a></li>
		</ul> 

		{% block body %}
		{% endblock %}

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script type ="text/javascript" src="{% static 'mainpage/base.js' %}"> 
  	</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
    </script>
		{% block scripts %}
		{% endblock %} 

	</body>
		
</html>