<!DOCTYPE html>
<html>
	<head>
		<!-- bootstrap !-->
		<!-- Materalise CSS !-->
		<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<!-- maintains base colour scheme for all pages !-->
		{% load static %}
  	<link rel="stylesheet" href="{% static 'mainpage/base.css' %}" type="text/css">
  		<!-- end of base colour scheme code !-->
	</head>

<!-- navigation bar !-->
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper blue-grey darken-3">
					<a href="/" class="brand-logo center">NUS Module Mappings</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/mod_list/">Selected Modules</a></li>
						<li><a href="https://goo.gl/forms/Y5glUw9WYpWhBctX2">Feedback</a></li>
						<li><a class="modal-trigger" href="#modal1">About</a></li>
					</ul>
					<ul class="left hide-on-med-and-down">
						<li><a href="{% url 'admin:index' %}">Admin</a></li>
						<li><a href="https://github.com/EnzioKam/Orbital">GitHub</a></li>
					</ul>
				</div>
			</nav>
		</div>

<!-- shrinks nav for mobile !-->
		<ul class="sidenav" id="mobile-demo">
			<li><a href="/">Search Modules</a></li>
			<li><a href="/mod_list/">Selected Modules</a></li>
		</ul>

<!-- Modal -->
	  <div id="modal1" class="modal">
	    <div class="modal-content">
	      <h4>About NUS Module Mappings</h4>
	      <p>
	      	Every year, many NUS students apply for the Student Exchange Programme. However, the process of application is complicated and the information is presented in a PDF file making it is extremely tedious and takes a long time to search for the relevant modules that students want to take at their partner universities. 
	      </p>
	      <br>
	      <p>
	      	We aim to create a web application with a database of module mappings to make the searching process for possible module mappings faster and easier via different filtering criteria, and to be able to track and store a list of modules (with their mappings) that the student intends to take on exchange. 
	      </p>
	    </div>
	  </div>

<!--
		<ul class="blue-grey lighten-3 side-nav fixed">
			<li><a href="#">Icon 1</a></li>
			<li><a href="#">Icon 2</a></li>
		</ul> 
!-->

		{% block body %}
		{% endblock %}

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script type ="text/javascript" src="{% static 'mainpage/base.js' %}"> 
  	</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
    </script>
		{% block scripts %}
		{% endblock %} 

	</body>
		
</html>