<head>
  <title>Graduation Module Tracker</title>

  {% extends 'base.html' %}
  <!-- Hotjar Tracking Code for nusmm.herokuapp.com -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:952557,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

</head>

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/grad_plan.css' %}" type="text/css">


<body onload="showModSem(); showModPrefix(); showOnlySem();">
  <br>
  <div class="position-relative translate">
    <div class="container">

        <form id="modform" class="col s12" onsubmit="saveModule()">

          <div class="row">

            <div class="input-field col s6">
              <input placeholder="NUS Module Code" id="mod_code" type="text" class="validate" required="" aria-required="true">
              <label for="mod_code">NUS Module Code</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="NUS Module Title" id="mod_title" type="text" class="validate" required="" aria-required="true">
              <label for="mod_title">NUS Module Title</label>
            </div>

          </div>

          <div class="row">

            <div class="input-field col s4">
              <input placeholder="NUS Modular Credits" id="mod_mc" type="text" class="validate" required="" aria-required="true">
              <label for="mod_mc">NUS Modular Credits</label>
            </div>

            <div class="input-field col s4">
              <input placeholder="Grade of module" id="mod_grade" type="text" class="validate" required="" aria-required="true">
              <label for="mod_grade">NUS Module Grade</label>
            </div>

            <div class="input-field col s4">
              <select id="sem_taken" required="" aria-required="true">
                <option value="" disabled selected>Taken in Semester</option>
                <option value="AY16/17 Semester 1">AY16/17 Semester 1</option>
                <option value="AY16/17 Semester 2">AY16/17 Semester 2</option>
                <option value="AY17/18 Semester 1">AY17/18 Semester 1</option>
                <option value="AY17/18 Semester 2">AY17/18 Semester 2</option>
              </select>
            </div>

          </div>

          <button class="btn wave-effect wave-light submission" 
          type="submit">Submit<i class="material-icons right">send</i></button>
        </form>

    </div>
  </div>
  <br>

  <div class="position-relative translate">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6" id="one" onclick="showOnlySem()"><a href="#bysem">By Semester</a></li>
            <li class="tab col s6" id="two" onclick="showOnlyPrefix()"><a href="#byprefix">By Module Prefix</a></li>
          </ul>
        </div>
        
        <div id="bysem" class="col s12"></div>

        <div id="byprefix" class="col s12"></div>

      </div>
    </div>
  </div>


</body>  


{% endblock %}

{% block scripts %}

  {% load static %} 
  <script type ="text/javascript" src="{% static 'mainpage/grad_plan.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/helper.js' %}"> 
  </script>

{% endblock %} 