<head>
  <title>Graduation Module Tracker</title>

  {% extends 'base.html' %}
</head>

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/grad_plan.css' %}" type="text/css">


<body onload="showData()">
  <br>
    <div class="row">
    <form class="col s12" action="#" onsubmit="showData()">

      {% csrf_token %}

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="NUS Module Code" id="mod_code" type="text" class="validate" required="" aria-required="true">
          <label for="mod_code">NUS Module Code</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="NUS Module Title" id="mod_title" type="text" class="validate" required="" aria-required="true">
          <label for="mod_title">NUS Module Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="NUS Modular Credits" id="mod_mc" type="text" class="validate" required="" aria-required="true">
          <label for="mod_mc">NUS Modular Credits</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="Grade of module" id="mod_grade" type="text" class="validate" required="" aria-required="true">
          <label for="mod_grade">NUS Module Grade</label>
        </div>
        <div class="input-field col s4">
          <select id="sem_taken" required="" aria-required="true">
            <option value="" disabled selected>Taken in Semester</option>
            <option value="1617sem1">AY16/17 Semester 1</option>
            <option value="1617sem2">AY16/17 Semester 2</option>
            <option value="1718sem1">AY17/18 Semester 1</option>
            <option value="1718sem2">AY17/18 Semester 2</option>
          </select>
        </div>
      </div>
      <button class="btn wave-effect wave-light submission" onclick="saveModule();" 
      type="button">Submit<i class="material-icons right">send</i></button>
    </form>
  </div>
  <br>






</body>  


{% endblock %}

{% block scripts %}

  {% load static %} 
  <script type ="text/javascript" src="{% static 'mainpage/grad_plan.js' %}"> 
  </script>

{% endblock %} 