
{% extends 'base.html' %}


{% block body %}

  <br>
	<div class="position-relative">
    <div class="container">
      <header>
        <div class="shadow p-3 mb-5 bg-white rounded">
          <h1 class="font-weight-bold"> NUS Module Mappings </h1>
        </div>
      </header>

      <p> 
        Enter nus module code, partner institution name, partner institution code,
        and/or partner institution's module title.
      </p>


    <form action="." method="GET">
      {% csrf_token %}
      {{ form }}
    </form>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Select</th>
          <th scope="col">NUS Code</th>
          <th scope="col">NUS Credits</th>
          <th scope="col">PU Name</th>
          <th scope="col">PU Code</th>
          <th scope="col">PU Title</th>
          <th scope="col">PU Credits</th>
        </tr>
      </thead>

        <button type="button" onclick="selectAll()" id="select-all">
          Select all
        </button>

        <button type="button" onclick="saveSelected()" id="save-selected">
          Save selected
        </button>

        <tbody id="tabledata">
        {% for item in mappings %}
          <tr> 
            <td><input type="checkbox" class="table-checkbox"/></td>
            <td>{{ item.nus_code }}</td>
            <td>{{ item.nus_credits }}</td>
            <td class="pu-name">{{ item.pu_name }}</td>
            <td>{{ item.pu_code }}</td>
            <td>{{ item.pu_title }}</td>
            <td>{{ item.pu_credits }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>

{% endblock %}

{% block scripts %}

  {% load static %} 
  <script type ="text/javascript" src="{% static 'mainpage/index.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/helper.js' %}"> 
  </script>

{% endblock %} 