
{% extends 'base.html' %}


{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/index.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'mainpage/table.css' %}" type="text/css">

<body>
  <br>
  <div class="position-relative">
    <div class="container">
      <header>
      </header>


    <form id="form" role="form" action="." method="post">
      {% csrf_token %}
        <input name="search"
               id="search"
               type="search"
               placeholder="Start typing here"
               ic-post-to="{% url 'search-ajax-submit' %}"
               ic-trigger-on="keyup changed"
               ic-trigger-delay="300ms"
               ic-target="#tabledata"/>
    </form>

      <table class="responsive-table highlight centered">
        <thead class="grey darken-3">
          <tr>
            <th scope="col">Select</th>
            <th scope="col">NUS Code</th>
            <th scope="col">NUS Credits</th>
            <th scope="col">PU Name</th>
            <th scope="col">PU Code</th>
            <th scope="col">PU Title</th>
            <th scope="col">PU Credits</th>
          </tr>
        </thead>

        <button class="btn wave-effect wave-light" type="button"
          onclick="selectAll()" id="select-all">
          Select all<i class="material-icons right">select_all</i>
        </button>
        <button class="btn wave-effect wave-light" type="button"
          onclick="saveSelected()" id="save-selected">
          Save selected<i class="material-icons right">save</i>
        </button>

        <tbody id="tabledata">
          {% include 'mainpage/results.html' %}
          {% block table-data %}
          {% endblock %}
        </tbody>

      </table>

    </div>
  </div>
</body>

{% endblock %}

{% block scripts %}

  {% load static %} 
  <script type ="text/javascript" src="{% static 'mainpage/index.js' %}">
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/helper.js' %}">
  </script>
  <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>

{% endblock %} 