
{% extends 'base.html' %}


{% block body %}

<body>
  <br>
  <div class="position-relative">
    <div class="container">
      <header>
      </header>

      <br>
      

    <form action="." method="GET" autocomplete="off">
      {% csrf_token %}
      {{ form }}
    </form>
    
    <table class="responsive-table striped">
      <thead class="grey darken-3">
        <tr>
          <th scope="col" style="color: white">Select</th>
          <th scope="col" style="color: white">NUS Code</th>
          <th scope="col" style="color: white">NUS Credits</th>
          <th scope="col" style="color: white">PU Name</th>
          <th scope="col" style="color: white">PU Code</th>
          <th scope="col" style="color: white">PU Title</th>
          <th scope="col" style="color: white">PU Credits</th>
        </tr>
      </thead>

        <button type="button" onclick="selectAll()" id="select-all">
          Select all
        </button>

        <button type="button" onclick="saveSelected()" id="save-selected">
          Save selected
        </button>

        <tbody id="tabledata">
        {% for item in mappings %}
          <tr class="hidden"> 
            <td>
              <input id="{{ forloop.counter }}" type="checkbox" class="filled-in"/>
              <label for="{{ forloop.counter }}"></label>
            </td>
            <td>{{ item.nus_code }}</td>
            <td>{{ item.nus_credits }}</td>
            <td class="pu-name">{{ item.pu_name }}</td>
            <td>{{ item.pu_code }}</td>
            <td>{{ item.pu_title }}</td>
            <td>{{ item.pu_credits }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
</body>

{% endblock %}

{% block scripts %}

  {% load static %} 
  <script type ="text/javascript" src="{% static 'mainpage/index.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/helper.js' %}"> 
  </script>

{% endblock %} 