<head>
	<title>Selected Modules</title>

	{% extends 'base.html' %}

</head>

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/mod_list.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'mainpage/table.css' %}" type="text/css">


<body onload="getData()">

  <br>
	<div class="position-relative shift" id="mod-list-header">
    <div class="container">
      <div class='header-box'>
        <div id="text-container">
          <p class="describe">
            This page contains the module mappings that you have chosen.
          </p>
          <p class="describe">
            Click <b>Search</b> on the left to find and add more, or delete unwanted mappings here.
          </p>
          <p class="describe">
            Happy planning!
          </p>
        </div>

        <hr id="divider">

          <p class="download-pretext"> Download mappings: </p>
          <a id="download-button" class="waves-effect waves-light btn tooltipped"
            data-position="top" data-tooltip="Downloads a .csv file">
            <i class="material-icons">file_download</i>
          </a>

          <p class="upload-pretext"> Upload mappings: </p>
          <input id="upload-field" type="file" name="csv-upload">
          <a id="upload-button" class="waves-effect waves-light btn tooltipped"
            data-position="top" data-tooltip="Uploads a .csv file">
            <i class="material-icons">file_upload</i>
          </a>

       </div>
    </div>
  </div>

  <div id="modals-container"></div>

</body>

{% endblock %}

{% block scripts %}

  {% load static %} 
  <script type ="text/javascript" src="{% static 'mainpage/mod_list.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/helper.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/box_methods.js' %}"> 
  </script>

{% endblock %} 