<head>
	<title>Selected Modules</title>

	{% extends 'base.html' %}

</head>

{% block body %}

<body onload="getData()">

  <br>
	<div class="position-relative">
    <div class="container">
      <header>
        <div class="shadow p-3 mb-5 bg-white rounded">
          <h1 class="font-weight-bold"> Selected Modules </h1>
        </div>
      </header>

      <p> 
        This is a list of module mappings that you have chosen.
      </p>

    </div>
  </div>

</body>

{% endblock %}

{% block scripts %}

  {% load static %} 
  <script type ="text/javascript" src="{% static 'mainpage/mod_list.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/helper.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/box_methods.js' %}"> 
  </script>

{% endblock %} 