<head>
	<title>Selected Modules</title>

	{% extends 'base.html' %}

</head>

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/mod_list.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'mainpage/table.css' %}" type="text/css">


<body onload="getData()">

  <br>
	<div class="position-relative shift" id="mod-list-header">
    <div class="container">
      <header>
        <div class="shadow p-3 mb-5 bg-white rounded">
          <h1 class="font-weight-bold"> Selected Modules </h1>
        </div>
      </header>

      <div id="text-container">
        <p class="describe">
          This is a list of module mappings that you have chosen.
        </p>
        <p class="describe">
          Go back to search to add more, or delete unwanted modules here.
        </p>
        <p class="describe">
          Happy planning!
        </p>
      </div>

      <br><hr>

      <div>
        <p class="button-pretext"> To download your saved mappings: </p>
        <a id="download-button" class="waves-effect waves-light btn">
          <i class="material-icons">file_download</i>
        </a>
      </div>

      <div>
        <p class="button-pretext"> To upload your previously saved csv file: </p>
        <input id="upload-field" type="file" name="csv-upload">
        <a id="upload-button" class="waves-effect waves-light btn">
          <i class="material-icons">file_upload</i>
        </a>
      </div>

      <hr><br>
    </div>
  </div>

  <div id="modals-container"></div>

</body>

{% endblock %}

{% block scripts %}

  {% load static %} 
  <script type ="text/javascript" src="{% static 'mainpage/mod_list.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/helper.js' %}"> 
  </script>
  <script type ="text/javascript" src="{% static 'mainpage/box_methods.js' %}"> 
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.9/jquery.csv.min.js"></script>

{% endblock %} 